$gray-color:#505050;
$deep-blue-color: #265781;
$pale-green-color: #52B27B;
$yellow-color: #F2E162;
$white-color: white;
$black-color: black;
$green-color: #1B7642;
$deep-green-color: #0F5C30;
$pale-light-green-color: #44AF72;
$brown-color: #3F3531;
$dark-green-color: #186a3b;
$dark-gray-color: #393939;
$dark-green-background-color: #1B6D3E;
$light-green-border-color: #488964;
$light-gray-white-color: #D1E2D8;

$font-lato: "Lato";
$font-fira-sans-serif: "Fira sans-serif";

$font-small-a: 11px;
$footer-copy-rights: 12px;
$nav-options: 14px;
$logo-heading: 15px;
$font-large-a: 16px;
$footer-about-us: 18px;
$banner-know-more: 22px;
$banner-agriculture: 35px;
$about-vidc: 36px;
$irrigation-manage: 43px;
$banner-vidc: 57px;